
# Ignore the visual studio projects
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
__vm/

# Visual Studio 2015/2017 cache/options directory
.vs/

